.about{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding:0;
  
  .about-content{
    width: 60%;
    margin-top:5%;
    padding-left:5%;
  }
  
  .skills{
    width:40%;
    margin-top:5%;
  }
  
  p{
    font-size: 1.6rem;
    width: 90%;
  }
  
  span{
    font-size: 1.6rem;
    color:$purple;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  h3{
    font-size: 2rem;
    color:$purple;
  }
}
