.contact{
  background: url("../assets/icon-orange.png");
  background-repeat: no-repeat;
  background-size:85%;
  background-position-x:215%;
  background-position-y:10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:0;
  
  h2{
    font-size: 3rem;
    height:3.2rem;
    margin:0;
    text-align: center;
    width: 100%;
  }

  .name{
    padding-top:0;
  }

  .contact-info{
    margin-top: 30vh;
    text-align: center;
    width:100%;
    min-width:280px;
  }
  
  span{
    color:$orange;
    font-weight:600;
    font-size:2.2rem;
  }
  
  .social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  a,
  i,
  p
  {
    color:white;
    font-size: 2rem;
    margin: 0.5px;
    text-align: center;
  }
  
  a{
    margin: 8px 16px;
    border: 1px white solid;
    border-radius: 50%;
    width:40px;
    height:40px;
    padding-top:4.5px;
    transition: all 0.6s;
    z-index: 10;
  }
  
  a:hover{
    color:$orange;
    border: $orange 1px solid;
    transform: scale(1.1);
    .fa{
      color:$orange;
    }
  }
  
  a:nth-child(0n+1){
    margin-left:0;
  }
  @media(max-width:880px){
    form,
    .contact-info{
      width:100%;
    }
    
    .contact-info,
    .social{
      align-items: center;
      justify-content: center;
    }
  }
}
