.contact{
  height:100%;
  width:100%;
  background: url("../assets/icon-orange.png");
  background-repeat: no-repeat;
  background-size:85%;
  background-position-x:222%;
  background-position-y:-8%;
}
