.home{
  background: url("../assets/icon-green.png");
  background-repeat: no-repeat;
  background-size:85%;
  background-position-x:215%;
  background-position-y:10%;
  padding-left: 10%;
  
  h1 .colored-header{
    color: $green;
    font-family:"Century Gothic", sans-serif;
    font-size: 5rem;
    font-weight:100;
    margin-bottom: 1%;
    text-transform: uppercase;
  }
  
  h2{
    font-size: 3rem;
  }
  
  h3{
    font-size:1.4rem;
    margin:0;
    padding:0;
  }
  .short-bio{
    width:40%;
    // display: inline-block;
    p:first-child {
      margin-top: 10px;
    }
  }
  .development-list {
    width: 30%;
    display: inline-block;
    vertical-align: top;  

    h2 {
      margin: 0;
    }
  }
  p{
    font-size:1.8rem;
  }
  
  @media(max-width:850px){
    .short-bio{
      width:50%;
    }
  }
  @media(max-width:615px){
    .short-bio{
      width:60%;
    }
  }
  
  @media(max-width: 440px){
    .short-bio{
      width:90%;
    }
  }
}
