nav{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right:5%;
  position: absolute;
  top:0;
  width:100%;
  z-index:10;
  
  button{
    background:none;
    border: 1px solid transparent;
    color:$green;
    display: inline-block;
    font-family: 'Century Gothic', sans-serif;
    margin: 2% 10px;
    padding: 3px 1px 0;
    position:relative;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  
  button::before{
    background:none;
    border:1px transparent solid;
    color: white;
    content: attr(data-hover);
    display: inline-block;
    left:0;
    margin:0;
    max-width: 0;
    overflow:hidden;
    padding: 2px 0 0;
    position:absolute;
    top: 0;
    transition: all 1s;
    white-space:pre;
  }
  
  button:hover::before,
  button:active::before{
    max-width: 100%;
    border:1px white solid;
    outline-color: transparent;
    box-shadow: none;
  }
  button:hover,
  button:focus,
  button:active{
    cursor: pointer;
    outline-color: transparent;
    box-shadow: none;
  }
}

.mobile-nav{
  display:none;
  left:5%;
  position: absolute;
  top:10px;
  z-index: 1;
}

.menu-btn div{
  font-size:1.8rem;
  font-weight:200;
  left:100%;
  line-height: 1.2;
  margin-top:-0.5rem;
  padding-right:8px;
  position: absolute;
  top:64%;
  z-index: 99;
}

.menu-btn span{
  background: rgb(240,240,240);
  display: block;
  height:3px;
  margin:4px 0;
  width:19px;
  z-index: 99;
}

.expand{
  display:flex;
  left:-1px;
}

.responsive-menu{
  align-items: center;
  background: rgba(0, 0, 0, 0.95);
  flex-direction: column;
  height:300px;
  justify-content: space-around;
  width:200px;
  top:23px;
  
  button{
    padding:10% 0;
    width: 100%;
  }
  
  button:hover,
  button:focus,
  button:active{
    color:white;
  }
  button:hover::before,
  button:active::before{
    max-width: 0;
    border:none;
    outline-color: none;
    box-shadow: none;
  }
}


@media(max-width:500px){
  .mobile-nav{
    display:flex;
  }
  
  nav{
    display:none
  }
}
