nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top:0;
  width:100%;
  z-index:10;
  
  button{
    background:none;
    border: 1px solid transparent;
    color:white;
    display: inline-block;
    margin: 1% 10px;
    padding: 3px 0 0;
    position:relative;
    text-transform: uppercase;
    font-size: 2rem;
  }
  
  button::before{
    background:rgba(220, 220, 220, 1);
    
    display: inline-block;
    color: $green;
    content: attr(data-hover);
    left:0;
    max-width: 0;
    margin:0;
    padding: 2px 0 0;
    overflow:hidden;
    position:absolute;
    top: 0;
    transition: max-width 1s;
    white-space:pre;
  }
  
  button:hover::before,
  button:active::before,
  button:focus::before{
    max-width: 100%;
  }
}
