.work{
  height:100%;
  background: url("../assets/icon-charcoal.png");
  background-repeat: no-repeat;
  background-size:85%;
  background-position-x:222%;
  background-position-y:-8%;
  padding-left:0;
  
  h2{
    color: $blue;
    font-family:"Century Gothic", sans-serif;
    font-size:1.7rem;
    text-align:left;
  }
  .portfolio-peices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100%;
  }
  
  .peice-buttons{
    width:0;
    height:0;
    display: none;
    
    button{
      width:0;
      height:0;
      display: none;
      color:white;
    }
    
    .selected{
      color:$blue;
    }
  }
  
  .peice-1,
  .peice-2,
  .peice-3{
    display:flex;
    flex-direction: column;
    width: 270px;
    margin: 0 1% 5%;
    height:440px;
    
    p{
      font-size: 1.5rem;
    }
    
    .buttons{
      display: flex;
      flex-direction: row;
    }
    
    button{
      display: flex;
      align-items: center;
      flex-direction: row;
      background: rgba(55, 55, 55, 0.9);
      border:none;
      border-radius: 5px;
      color:$blue;
      cursor: pointer;
      height: 4rem;
      justify-content: center;
      margin-top: 20px;
      transition: 0.5s all linear;
      width:11rem;
    }
    
    button:hover{
      background: rgba(40, 40, 40, 0.9);
      color: darken($blue, 15%);
    }
    
    h4{
      margin:0;
    }
    
    .source-code{
      margin-left:5%;
    }
    
    .live-site{
      margin-left:5px;
      width:7rem;
    }
    
    i{
      font-size:2.5rem;
    }
    
    a{
      text-decoration: none;
    }
  }
  
  .peice-1 .peice-img{
    background: url("../assets/pic1a.png");
  }
  
  .peice-2 .peice-img{
    background: url("../assets/pic2a.png");
  }
  
  .peice-3 .peice-img{
    background: url("../assets/pic3a.png");
  }
  
  .peice-1 .peice-img,
  .peice-2 .peice-img,
  .peice-3 .peice-img{
    width:270px;
    height:175px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  @media(max-width: 940px){
    
    .portfolio-peices{
      align-items: center;
    }
    
    .hidden{
      display: none;
      height:0;
      width:0;
    }
    
    .displayed-peice{
      width:70%;
      margin:0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-left:15%;
    }
    
    .peice-content{
      width:270px;
    }
    
    .peice-buttons{
      width:25%;
      height:auto;
      display: flex;
      flex-direction: column;
      
      button{
        width:100%;
        height:auto;
        display:block;
        background: none;
        border:none;
      }
      h4{
        font-size: 1.6rem;
        margin:3% 0;
      }
    }
  }
  
  @media(max-width:500px){
    .portfolio-peices{
      align-items: flex-start;
      flex-direction: column;
      margin-left:1%;
    }
    
    .peice-1,
    .peice-2,
    .peice-3{
      padding:0;
      margin-top:2%;
    }
    
    .peice-buttons{
      width:90%;
      flex-direction: row;
    }
  }
}
