.work{
  height:100%;
  background: url("../assets/icon-charcoal.png");
  background-repeat: no-repeat;
  background-size:85%;
  background-position-x:215%;
  background-position-y:10%;
  padding-left:0;
  
  h2{
    color: $blue;
    font-family:"Century Gothic", sans-serif;
    font-size:1.7rem;
    text-align:left;
  }
  .portfolio-peices{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100%;
  }
  
  .peice-buttons{
    width:0;
    height:0;
    display: none;
    
    button{
      width:0;
      height:0;
      display: none;
      color:white;
    }
    
    .selected{
      color:$blue;
    }
  }
  
  .peice-1,
  .peice-2,
  .peice-3{
    display:flex;
    flex-direction: column;
    width: 270px;
    margin: 0 1% 5%;
    
    p{
      font-size: 1.5rem;
    }
    
    h4{
      margin:0;
    }
    
    .source-code{
      margin-left:5%;
    }
    
    .live-site{
      margin-left:5px;
      width:7rem;
    }
    
    i{
      font-size:2.5rem;
    }
    
    a{
      text-decoration: none;
    }
  }
  
  .peice-img{
    height:175px;
    overflow: hidden;
  }
  
  .peice-1 .peice-img img,
  .peice-2 .peice-img img,
  .peice-3 .peice-img img{
    display:block;
    height:175px;
    overflow:hidden;
    position:relative;
    width:270px;
    transition: all 0.3s ease-in-out;
  }
  
  .mask{
    background: rgba(40, 40, 40, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:175px;
    left:0;
    opacity: 0;
    overflow:hidden;
    position:relative;
    top:-175px;
    width:270px;
    transition: all 0.3s ease-in-out;
  }
  
  .mask h4{
    color:$blue;
    font-size:3.5rem;
    text-align: center;
  }
  
  .mask h5{
    color:white;
    font-size:2.5rem;
    margin:0;
  }
  
  .peice-1 .peice-img:hover img,
  .peice-2 .peice-img:hover img,
  .peice-3 .peice-img:hover img{
    transform:translateX(270px);
  }
  
  .peice-1 .peice-img:hover .mask,
  .peice-2 .peice-img:hover .mask,
  .peice-3 .peice-img:hover .mask{
    transform: translateX(0px);
    opacity:1;
  }
  
  @media(max-width: 940px){
    
    .peice-1,
    .peice-2,
    .peice-3{
      .buttons{
        position:initial;
      }
    }
    
    .portfolio-peices{
      align-items: center;
    }
    
    .hidden{
      display: none;
      height:0;
      width:0;
    }
    
    .displayed-peice{
      width:70%;
      margin:0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left:15%;
    }
    
    .peice-content{
      width:270px;
    }
    
    .peice-buttons{
      width:25%;
      height:auto;
      display: flex;
      flex-direction: column;
      
      button{
        width:100%;
        height:auto;
        display:block;
        background: none;
        border:none;
      }
      
      button:hover,
      button:focus,
      button:active{
        cursor: pointer;
        outline-color: transparent;
        box-shadow: none;
      }
      
      h4{
        font-size: 1.6rem;
        margin:3% 0;
      }
    }
  }
  
  @media(max-width:500px){
    .portfolio-peices{
      align-items: center;
      flex-direction: column;
      margin-left:1%;
    }
    
    .peice-1,
    .peice-2,
    .peice-3{
      padding:0;
      margin-top:2%;
    }
    
    .peice-buttons{
      width:90%;
      flex-direction: row;
    }
  }
}
