@import 'cube';
@import 'pyramid';
@import 'home';
@import 'work';
@import 'contact';

html,
body{
  margin:0;
  height:100%;
  width:100%;
  /*background:gray;*/
}

h1{
  font-family:"Century Gothic", sans-serif;
  font-weight:100;
  text-transform: uppercase;
}

.container{
  position:relative;
  margin:0;
  padding:0;
  perspective:200vw;
  height:100%;
  width:100vw;
}

.nav-button{
  position: absolute;
  top:0px;
  z-index:10;
}
