*{
  font-size: 10px;
}

// Variables
$blue: rgba(75, 170, 200, 1);
$green: rgba(60, 185, 15, 1);
$orange: rgba(225, 105, 10, 1);
$purple: rgba(95, 75, 125, 1);


@import 'cube';
@import 'pyramid';
@import 'nav';
@import 'home';
@import 'work';
@import 'contact';

html,
body{
  margin:0;
  height:100%;
  width:100%;
  background:gray;
}

section{
  margin-top: 5%;
}

h1{
  font-family:"Century Gothic", sans-serif;
  font-weight:100;
  text-transform: uppercase;
  font-size: 5rem;
}

.container{
  position:relative;
  margin:0;
  padding:0;
  perspective:200vw;
  height:100%;
  width:100vw;
}
