*{
  font-size: 10px;
  font-family:'PT Serif', 'Georgia', serif;
}
*, *:before, *:after, html{
  box-sizing: border-box;
}

// Variables
$blue: rgba(75, 170, 200, 1);
$green: rgba(60, 185, 15, 1);
$orange: rgba(225, 105, 10, 1);
$purple: rgba(200, 160, 220, 1);

//Extends
.hidden{
  display: none;
  height: 0;
  width:0;
}

@import 'normalize';
@import 'cube';
@import 'pyramid';
@import 'nav';
@import 'home';
@import 'work';
@import 'contact';
@import 'about';

html,
body{
  margin:0;
  height:100%;
  width:100%;
  background:gray;
}

section{
  height:94%;
  margin-top: 5%;
  padding-left: 5%;
  width:100%;
}

h1{
  font-family:"Century Gothic", sans-serif;
  font-size: 5rem;
  font-weight:100;
  margin-bottom: 0;
  text-transform: uppercase;
}

.container{
  height:100%;
  margin:0;
  padding:0;
  perspective:200vw;
  position:relative;
  width:98vw;
}
